.article {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 72px 0 144px;
  max-width: var(--container-width, auto);
  margin: 0 auto;
  row-gap: 24px;
}

.titleDescription {
  max-width: 550px;
}

.image {
  width: 100%;
  height: auto;
  margin-top: 26px;
}
