.image {
	margin-top: 26px;
	height: auto;
	width: 100%;
}

.titleDescription {
	max-width: 550px;
}

.article {
	margin: 0 auto;
	padding: 72px 0 144px;
	max-width: var(--container-width, auto);
	row-gap: 24px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
