.selectWrapper {
  position: relative;
}

.container {
	display: flex;
	flex-direction: column;
	row-gap: 4px;
}

.arrow {
  position: absolute;
  right: 6px;
  top: 50%;
  transition: transform 0.2s ease-in-out, margin-top 0.2s ease-in-out;
  margin-top: -12px;
}

.placeholder {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  box-sizing: border-box;
  height: 50px;
  padding: 15px 17px;
  cursor: pointer;
  outline: 1px solid #000;
  background: rgb(255, 255, 255);
  box-sizing: border-box;
  width: 100%;
}

.placeholder[data-selected="true"] {
  color: rgb(0, 0, 0);
}

.selectWrapper[data-is-active="true"] .arrow {
  transform: rotate(180deg);
  margin-top: -14px;
}

.selectWrapper[data-is-active="true"] .placeholder {
  outline: 3px solid #000;
}

.selectWrapper:not([data-is-active="true"])
  .placeholder:not([data-status="invalid"]):hover {
  outline: 3px solid #000;
}

.select {
  display: grid;
  position: absolute;
  list-style: none;
  width: 100%;
  margin: 0;
  padding: 0;
  outline: 3px solid #000;
  border-top: none;
  box-sizing: border-box;
  z-index: 10;
  background-color: rgba(255, 255, 255, 1);
}

.option {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 30px;
  padding: 5px;
  border: 1px;
  padding: 15px 17px;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 1);
}

.option[aria-selected="true"] {
  background-color: rgba(0, 0, 0, 0.05);
}

.option:hover {
  background: var(--grey, #c4c4c4);
}

@mixin option-color-before {
  content: "";
  width: 35px;
  height: 35px;
  margin-right: 10px;
}

.option-black::before {
  @include option-color-before();
  background-color: #000;
}

@mixin option-color-after {
  content: "";
  position: absolute;
  left: 26px;
  width: 17px;
  height: 17px;
  border-radius: 100%;
}

.option-black[data-selected="true"]::after {
  @include option-color-after();
  background-color: #ffffff;
}

.option-white::before {
  @include option-color-before();
  background-color: #ffffff;
  border: 1px solid #000;
  box-sizing: border-box;
}

.option-white[data-selected="true"]::after {
  @include option-color-after();
  background-color: #000;
}

.option-gray::before {
  @include option-color-before();
  background-color: #c4c4c4;
}

.option-gray[data-selected="true"]::after {
  @include option-color-after();
  background-color: #ffffff;
}

.option-pink::before {
  @include option-color-before();
  background-color: #feafe8;
}

.option-pink[data-selected="true"]::after {
  @include option-color-after();
  background-color: #ffffff;
}

.option-fuchsia::before {
  @include option-color-before();
  background-color: #fd24af;
}

.option-fuchsia[data-selected="true"]::after {
  @include option-color-after();
  background-color: #ffffff;
}

.option-yellow::before {
  @include option-color-before();
  background-color: #ffc802;
}

.option-yellow[data-selected="true"]::after {
  @include option-color-after();
  background-color: #ffffff;
}

.option-green::before {
  @include option-color-before();
  background-color: #80d994;
}

.option-green[data-selected="true"]::after {
  @include option-color-after();
  background-color: #ffffff;
}

.option-blue::before {
  @include option-color-before();
  background-color: #6fc1fd;
}

.option-blue[data-selected="true"]::after {
  @include option-color-after();
  background-color: #ffffff;
}

.option-purple::before {
  @include option-color-before();
  background-color: #5f0dee;
}

.option-purple[data-selected="true"]::after {
  @include option-color-after();
  background-color: #ffffff;
}

@mixin option-width-before {
  content: "";
  width: 25px;
  height: 25px;
  margin-right: 10px;
}

.option-wide::before {
  @include option-width-before();
  background-image: url("./../../images/wide.svg");
}

.option-narrow::before {
  @include option-width-before();
  background-image: url("./../../images/narrow.svg");
}
