.arrow {
	width: 48px;
	height: 48px;
	cursor: pointer;
	flex-shrink: 0;
	transform: rotate(180deg);
	transition: transform 0.5s ease;
}

.arrow_open {
	z-index: 1000;
	transform: rotate(0deg);
}

.container {
	position: fixed;
	top: 31px;
	display: flex;
	width: 100px;
	height: 100px;
	box-sizing: border-box;
	background-color: #000000;
	border-right: 1px;
	flex-shrink: 0;
	justify-content: center;
	align-items: center;
	transition: transform 0.5s ease;
}

.container_open {
	left: 616px;
}
